.nav1 {
    background-color: #000000;
}


.nav-enlace1 {
    padding: 10px 30px;
    color: #ffffff;
    text-decoration: none;
    font-size: x-large;
    border-radius: 18px;
    background-color: #ff0000;
    align-self: center;
    margin: 10px;


}

.nav-enlaces1:hover {
    background-color: #7fff00;
    color: #000000;
}