body {
    font-family: 'Square Peg', cursive;
    font-size: 35px;
}


.nav1 {
    font-size: 45px;
}

.header-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-nav {
    background-color: #000;
    color: #08f848;

}

.div0{
    box-sizing: border-box;
    min-width: 100vh;
}
.nav-a {
    display: inline-block;
    border-radius: 20px;
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    font-size: 45px;
}

.nav-a:hover {
    background-color: #ff000075;
    color: white;
}

.titulo1 {
    font-size: 70px;
}

.div1 {
    background-image: url(/Proyecto01/img/open-book.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 40px 20px
}

.input1 {
    background-color: #ff660070;
    border-radius: 10px;
}

.label1 {
    text-shadow: 1px 1px #3d3c3c;
    font-size: 80;

}

.button1 {
    background-color: #80ff006f;
    border-radius: 10px;
    text-shadow: 1px 2px grey;
    font-weight: 500;
}

.article1 {
    min-height: 100vh;
    gap: 40px;
}

.article1-h2 {
    color: #4400ff;
    font-size: 120px;
    grid-column: 1/13;
    grid-row: 1/2;

}

.h2-libros-item {
    color: #08f848;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 300;
    margin-left: 10px;
    margin-right: 5px;
    font-size: 35px;

}

.p-libros-item {
    color: #ff0000;
}

.article2 {
    min-height: 100vh;
    background-color: #000000;
}

.article2-h2 {
    font-size: 100px;
    color: #4400ff;
}

.article2-div2 {

    width: 20%;
    height: 50%;
    margin: 10px;
    color: #08f848;
    font-size: 50px;
}

.article2-p {
    color: #ff0000;
    font-size: 30px;
}


.pie-div1 {
    color: #08f848;
}

.pie-div1a {
    color: #ff0000;
}

.pie-div1b {
    color: #4400ff
}

.pie-div2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 50px;
}



.pie-items {
    list-style: none;
    font-size: 40px;
    color: #08f848;

}

.pie-items-u {
    text-transform: uppercase;
    list-style: none;
    font-size: 40px;
    color: #08f848;
}

.pie-ul1 {
    text-align: center;

}






@media (max-width: 1079px) {
    .header-div {
        flex-wrap: wrap;
    }
    .titulo1 {
        font-size: 50px;
    }
    .div1 {
        padding: 40px 20px
    }
}

@media (max-width:976px) {
    .escondido{
        font-size: 30px;
    }
    .article2-div2 {
        width: 50%;
        font-size: 30px;
    }
    .article2-p {
        font-size: 20px;
    }
}



@media (max-width: 703px) {
    .titulo1 {
        font-size: 40px;
        margin-top: 0;
    }
    .div1 {
        padding: 40px 20px
    }
    .label1 {
        font-size: 40px;
    }
}

